@font-face {
    font-family: 'brizeuxnormal';
    src: url('../fonts/brizeux_normal-webfont.woff2') format('woff2'),
         url('../fonts/brizeux_normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(106, 90, 205);
    background: linear-gradient(0deg, rgba(106, 90, 205, 1) 0%, rgba(232, 183, 179, 1) 46%, rgba(255, 255, 255, 1) 100%);
    color: white;
    text-align: center;
    font-family: 'brizeuxnormal', sans-serif;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: 24px;
}

.image1 {
    animation: bounce 2s infinite;
    border-radius: 75px;
    margin-top: 20px;
}

a {
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 10px auto;
  color: slateblue;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
  max-width: 270px;
}

a:hover {
    color: white;
    background-color: slateblue;
    transform: scale(1.05);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(-10px); }
    60% { transform: translateY(-5px); }
}
